$color-primary: #1E88E5;
$color-background: #2a343d;

$content-padding: 5%;

@mixin flex(
    $d: row,
    $j: flex-start,
    $a: flex-start
) {
    display: flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
}

@mixin inline-flex(
    $d: row,
    $j: flex-start,
    $a: flex-start
) {
    display: inline-flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
}